<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div id="app">
    <ul>
        <li v-for="data in datalist" ><input type="checkbox" :value="data" v-model="check">{{data}}</li>
    </ul>
    {{check}}
    <p>总金额 计算：{{getSum()}}</p>
  </div>
</body>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
   new Vue({
       el:"#app",
       data:{
           datalist:[
               {"name":"商品1","price":10,"number":1,"id":1},
               {"name":"商品2","price":20,"number":1,"id":2},
               {"name":"商品3","price":30,"number":1,"id":3},
               {"name":"商品4","price":40,"number":1,"id":4},
               {"name":"商品5d","price":50,"number":1,"id":5}
           ],
           check:[]
       },methods: {
           getSum(){
               var sum = 0;
               for(var i in this.check){
                   sum+=this.check[i].number*this.check[i].price;
               }
               return sum;
           }
       }
   })
</script>
</html>