<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="box">
        <table>
            <tr v-for="item in list | filterBy searchName in 'name'">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ctime}}</td>
                <td>
                    <a href="#" @click.prevent="del(item.id)">删除</a>
                </td>
            </tr>
        </table>

        <hr> 输入筛选名称：

        <input type="text" v-model="searchName">
    </div>
</body>
<script src="../day02/lib/vue-2.4.0.js"></script>
<script>
  new Vue({
      el:"#box",
      data:{
          searchName:"",
          list:[
              {"id":1,"name":"zs","ctime":"1991"},
              {"id":2,"name":"zs","ctime":"1991"},
              {"id":3,"name":"zs","ctime":"1991"},
              {"id":4,"name":"zs","ctime":"1991"},
              {"id":5,"name":"zs","ctime":"1991"}
          ]
      }
  })
</script>

</html>